.main-contain {
    margin: 112px auto 10px auto;

}

.box {
    margin: 0px auto 10px auto;
    text-align: left;
    align-content: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    font-size: 14px;
    width: 70%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 25px #adadad;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media screen and (max-width: 800px) {
    .box {
        width: 85%;
    }
}

center img{
    width:100%;
    height:auto;
  }


.top-header {
    text-align: center;
    font-size: 30px;
    font-family: pp-sans-big-light;
    line-height: 48px;
    text-align: center;
}

.second-header {
    text-align: center;
    font-size: 15px;
    font-family: pp-sans-big-light;
}

a {
    color: rgb(80, 170, 255);
    text-decoration: none;
}

body {
    background: #E9EBEE;    
}

.span-responsive-img {
    border-radius: 50%;
    width:15%;
    height:auto;
    box-shadow: 0px 0px 30px #c5c5c58c;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-title {
    margin: 10% auto 0px auto;
    font-size: 50px;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-color: rgb(182, 182, 182);
    text-shadow: rgba(255,255,255,0.5) 0px 2px 3px
  }

  .mission-statement {
      text-align: center;
      margin-bottom: 30px;
  }

  .box p{
      line-height: 25px;
  }

  .box h2 {
      font-size: 30px;
      color: rgb(80, 170, 255);
  }

  .box li {
      margin-bottom: 10px;
  }