@import url('https://fonts.googleapis.com/css?family=Oxygen|Open+Sans:300,400,700,800');

body {
  background: rgb(243, 239, 239);
}

.loose-diamond-card {
  font-family: "Open Sans", sans-serif;
  height: 349px;
  width: 100%;
  max-width: 245px;
  border-radius: 7px;
  margin: 10px auto;
  margin-bottom: 20px;
  perspective: 1000px;
}

.loose-diamond-front {
  /* background-color: white; */
  border: 1px solid #dedede;
}

.loose-diamond-card.hidden {
  display: none;
  visibility: hidden;
}

.loose-diamond-header {
  padding: 10px;
  padding-top: 5px;
  height: 18px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.loose-diamond-header a {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
  color: black;
}

.loose-diamond-header a:visited {
  color: black;
}

.loose-diamond-header strong {
  font-weight: 700;
}

.loose-diamond-front img {
  height: 70px;
  width: 34%;
  margin: 10px 32% 0px 32%;
  display: inline-block;
  margin-top: 10px;
  perspective: none;
}

.loose-diamond-body {
  padding: 10px;
  height: 245px;
}

.loose-diamond-front h1 {
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0px;
}

.loose-diamond-body a {
  display: block;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: grey;
}

.loose-diamond-body a:visited {
  color: rgb(53, 53, 53);
}

.loose-diamond-front p {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  line-height: 20px;
  cursor: pointer;
}

.loose-diamond-content {
  width: inherit;
}

.loose-diamond-front {
  width: inherit;
}

.loose-diamond-front a {
  width: inherit;
  cursor: pointer;
}

.loose-diamond-front a button {
  width: inherit;
  border: none;
  background-color: rgb(80, 170, 255);
  color: white;
  font-size: 15px;
  height: 50px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}

.loose-diamond-content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 8px 4px #efefef;
  border-radius: 7px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.loose-diamond-card.flip .loose-diamond-content {
  perspective: 500px;
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.loose-diamond-front,
.loose-diamond-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 7px;
  backface-visibility: hidden;
}

.loose-diamond-back {
  background: white;
  transform: rotateY( 180deg );
}

.loose-diamond-back h2 {
  margin-top: 23px;
}

.loose-diamond-back p {
  width: 90%;
  height: 73%;
  overflow: scroll;
  margin: 10px auto;
  font-size: 15px;
  text-align: center;
}

.loose-diamond-back i {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 15px;
  color: rgb(80, 170, 255);
  font-size: 20px;
}